aioconsole==0.7.1
aiofiles==24.1.0
backoff==2.2.1
datasets==2.18.0
datasets==2.20.0
google_cloud_aiplatform==1.43.0
google_cloud_aiplatform==1.61.0
numpy==2.1.0
pandas==2.2.2
tqdm==4.66.2
tqdm==4.66.5
